{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
        <h1 class="text-info">Business Line List</h1>
        </div>
        <div class="col-md-1">
            <a href="{% url 'tractebel:business_add' %}" class="btn btn-outline-success"><i class="fas fa-plus-square"> New</i>  </a>
        </div>
        <div class="col-md-1">
            <a href="{% url 'tractebel:welcome' %}" class="btn btn-outline-info"><i class="fas fa-arrow-alt-circle-left"> Back</i>  </a>
        </div>
    </div>
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
            <td class="text-info">Description</td>
            <td class="text-info text-center">Edit</td>
            <td class="text-info text-center">Delete</td>
        </thead>
        <tbody>
            {% for business in businesses %}
                <tr>
                    <td>{{business.description}}</td>
                    <td class="text-center">
                        <a href="{% url 'tractebel:business_change' business.id %}">
                            <i class="fas fa-edit text-warning"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="{% url 'tractebel:business_delete' business.id %}">
                            <i class="fas fa-trash text-danger"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}
